body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* --------------------------------------
            NAVBAR
-----------------------------------------*/
nav {
  background: rgb(220, 255, 222);
}
nav .head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__content .head__logo a img {
  width: 150px;
}

.head__content .nav ul {
  display: flex;
  align-items: center;
}

.head__content .nav ul li {
  list-style: none;
  margin: 0 1.4rem;
}

.head__content .nav ul li a {
  text-decoration: none;
  color: #0a2231;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.head__content .nav ul li a:hover {
  color: aqua;
}

/* --------------------------------------
            HEADER
-----------------------------------------*/
header {
  background-image: linear-gradient(
      rgba(34, 38, 41, 0.902),
      rgba(59, 59, 59, 0.9)
    ),
    url(../img/head_back.jpg);
  height: 100vh;
  background-size: cover;
}

header .head__content {
  padding-top: 6rem;
  text-align: center;
  position: relative;
}

header .head__content h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 0;
  text-transform: uppercase;
}

header .head__content h2 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

header .head__content .best__blog img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  margin-top: 4rem;
  box-shadow: 0px 15px 10px -10px rgb(0 0 0 / 50%)
}

header .head__content .best__blog span {
  position: absolute;
  left: 52%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: bisque;
  font-size: 3.2rem;
  margin-top: -3rem;
  opacity: 0;
}

header .head__content .best__blog button {
  position: absolute;
  left: 52%;
  top: 75%;
  transform: translate(-50%, -50%);
  padding: 10px 28px 10px;
  text-transform: uppercase;
  border: 1px solid #fd8866;
  background-color: #fd8866;
  font-size: 1rem;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 5rem;
  opacity: 0;
}

header .head__content .best__blog button::after {
  content: " >>";
  font-weight: bold;
}

header .head__content .best__blog button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}

header .head__content .best__blog:hover span,
header .head__content .best__blog:hover button {
  transition: all 0.3s;
  opacity: 1;
  margin-top: 0;
}

/* --------------------------------------
            MORE BLOG SECTION
-----------------------------------------*/