body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------------------------
            COMMON
-----------------------------------------*/
.container {
  max-width: 1140px;
  margin: auto;
}

.title {
  text-align: center;
}

.title span {
  font-size: 2.5rem;
}

.title p {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

/* --------------------------------------
            NAVBAR
-----------------------------------------*/
nav {
  background: rgb(220, 255, 222);
}
nav .head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__content .head__logo a img {
  width: 150px;
}

.head__content .nav ul {
  display: flex;
  align-items: center;
}

.head__content .nav ul li {
  list-style: none;
  margin: 0 1.4rem;
}

.head__content .nav ul li a {
  text-decoration: none;
  color: #0a2231;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.head__content .nav ul li a:hover {
  color: aqua;
}

/* --------------------------------------
            HEADER
-----------------------------------------*/
header {
  background-image: linear-gradient(
      rgba(34, 38, 41, 0.902),
      rgba(59, 59, 59, 0.9)
    ),
    url(../img/head_back.jpg);
  height: 100vh;
  background-size: cover;
}

header .head__content {
  padding-top: 6rem;
  text-align: center;
  position: relative;
}

header .head__content h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 0;
  text-transform: uppercase;
}

header .head__content h2 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

header .head__content .best__blog img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  margin-top: 4rem;
  box-shadow: 0px 15px 10px -10px rgb(0 0 0 / 50%);
  transition: all .3s;
}

header .head__content .best__blog:hover img {
  opacity: .1;
}

header .head__content .best__blog span {
  position: absolute;
  left: 52%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3.2rem;
  margin-top: -3rem;
  opacity: 0;
}

header .head__content .best__blog button {
  position: absolute;
  left: 52%;
  top: 75%;
  transform: translate(-50%, -50%);
  padding: 10px 28px 10px;
  text-transform: uppercase;
  border: 1px solid #fd8866;
  background-color: #fd8866;
  font-size: 1rem;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 5rem;
  opacity: 0;
}

header .head__content .best__blog button::after {
  content: " >>";
  font-weight: bold;
}

header .head__content .best__blog button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}

header .head__content .best__blog:hover span,
header .head__content .best__blog:hover button {
  transition: all 0.3s;
  opacity: 1;
  margin-top: 0;
}

/* --------------------------------------
            MORE BLOG SECTION
-----------------------------------------*/
.more__blog__section {
  margin-top: 17rem;
}

.more__blog__section .blogs .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.more__blog__section .blogs .blogs__content {
  flex: 0 0 33%;
  /* max-width: 40%; */
}

.more__blog__section .blogs .blogs__content i {
  font-size: 1.7rem;
  margin-right: 0.7rem;
  vertical-align: middle;
}

.more__blog__section .blogs .blogs__content span {
  font-size: 1.5rem;
  font-weight: 300;
  vertical-align: middle;
  transition: all 0.3s ease-out;
}

.more__blog__section .blogs .blogs__content a {
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.3s ease-out;
}

.more__blog__section .blogs .blogs__content a::after {
  content: " >>";
  font-weight: bold;
  transition: all 0.3s;
  vertical-align: middle;
}

.more__blog__section .blogs .blogs__content:hover span,
.more__blog__section .blogs .blogs__content:hover a {
  color: #fd8866;
}

.more__blog__section .blogs .blogs__content:hover a::after {
  color: #000;
  padding-left: 3px;
}

/* --------------------------------------
            SUBSCRIBE SECTION
-----------------------------------------*/
.subscribe__section {
  margin-top: 6rem;
  background: linear-gradient(90deg, #fd8866, #fa543a);
}

.subscribe__section .subscribe__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.subscribe__section .subscribe__content p {
  font-size: 1.5rem;
  color: #fff;
}

.subscribe__section .subscribe__content button {
  background: #fd8866;
  padding: 10px 60px;
  border: 1px solid #fd8866;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  font-size: 1.2rem;
}

.subscribe__section .subscribe__content button:hover {
  border: 1px solid #fff;
  background: transparent;
}

/* --------------------------------------
            LATEST BLOG SECTION
-----------------------------------------*/
.latest_blog_section .title{
  margin-top: 4rem;
}

.latest_blog_section .title p{
  margin-bottom: 2rem;
}

.latest_blog_section{
  margin-bottom: 4rem;
}

.latest_blog_section .latest_blog_content{
  display: flex;
  align-items: center;
}

.latest_blog_section .latest_blog_content .latest_blog_item{
  box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
  text-align: center;
  padding: 2rem;
  margin: 1.5rem;
  transition: all .5s;
}

.latest_blog_section .latest_blog_content .latest_blog_item i{
  color: #fa543a;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin-bottom: 1.3;
  transition: all .5s;
}

.latest_blog_section .latest_blog_content .latest_blog_item h3{
  font-size: 1.5rem;
}

.latest_blog_section .latest_blog_content .latest_blog_item p{
  font-size: 1rem;
  margin-bottom: 1.8rem;
}

.latest_blog_section .latest_blog_content .latest_blog_item button{
  background: #fd8866;
  padding: 10px 20px;
  border: 1px solid #fd8866;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  font-size: 1.2rem;
}

.latest_blog_section .latest_blog_content .latest_blog_item button:hover{
  border: 1px solid #fff;
  background: transparent;
}

.latest_blog_section .latest_blog_content .latest_blog_item:hover{
  background: #000;
}

.latest_blog_section .latest_blog_content .latest_blog_item:hover h3,
.latest_blog_section .latest_blog_content .latest_blog_item:hover p{
  color: #fff;
}

.latest_blog_section .latest_blog_content .latest_blog_item:hover i{
  background: #fa543a;
  color: #fff;
}

/* --------------------------------------
            FOOTER SECTION
-----------------------------------------*/
footer{
  padding: 1.7rem 7rem;
  background: #000;
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span{
  color: #fff;
  font-size: 1.1rem;
}